@import url('./CSS/header.css');
@import url('./CSS/main.css');
@import url("/CSS/medias.css");


*
{
    margin                      : 0;
    padding                     : 0;
    box-sizing                  : border-box;
}
body
{
 /* BODY  */
--mainColor                     :#171515;
--body-width                    :99vw;
--body-min-width                :350px;

/* HEADER */
--header-height                 : 70px;
--header-width                  : 100%;

--headerBtn-bg                  : linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
--header-btn-height             : 90%;

/* MAIN  */

--main-bg                       : var(--mainColor);
--main-width                    : 95%;
--main-max-width                : 989px;
--main-height                   : "fit-content";

/* MAIN ITEM */

--main-item-width               : 100%;
--main-item-height              : "fit-content";

 /* Projects */

--main-projects-width           : 100%;
--main-projects-height          : 500px;
 
--projects-item-width-max700    : 240px;
--projects-item-width-min700    : 325px;
--projects-item-height-max700   : 325px;
--projects-item-height-min700   : 483px;
 
--projects-title-width          : 100%;
--projects-title-height         : "fit-content";
--title-size                    : 15px;
 
--projects-img-width            : 100%;
--projects-img-height           : 100%;
 
--projects-description-width    : 100%;
--projects-description-height   : "fit-content";

--drescription-btn-width        : 100px;


/* Certificates */

--certificates-width            : 99%;
--certificates-height           : calc(var(--body-width) /1.7 ); 

/* About */

--about-width                   : 100%;
--about-height                  : 500px;

/* Contacts */

--contacts-width                 : 100%;
--contacts-height                : 100%;



    width                        : var(--body-width);
    min-width                    : var(--body-min-width);
    background-color             : var(--mainColor);

}


